/* GENERAL */
.webpage-content {
    margin: auto;
    max-width: 80%;
}

/* RESUMEN */
.resumen-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
}

.resumen {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.imagen-resumen {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 25%;
}

/* OFICINAS */
.oficinas-container {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: justify;
    width: 100%;
    margin-bottom: 2%;
}

.oficinas {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

/* IMAGEN AL FONDO DE LA PAGINA */
.bottom-image {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* PLACEHOLDERS TO REMOVE */
.mapa-placeholder {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 25%;
}