.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* WEBPAGE ITSELF */
.content body {
  margin-left: 10px;
  margin-right: 10px;
}

/* NAVIGATION BAR */
.NavbarList {
  margin-top: 0;
}

.Navbar {
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 10px 2px rgba(100, 100, 100, 0.3);
  margin-bottom: 2%;
}

.Navbar a {
  float: left;
  color: gray;
  padding: 16px;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  height: 70px;
  font-family: 'Poppins';
}

.Navbar li {
  margin-top: 20px;
}

.NavbarList a:hover {
  background-color: gray;
  color: white;
  transition: .3s ease all;
}

.formatLogo {
  height: 64px;
}

/* FOOTER */
.Footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #000b4d;
  overflow: hidden;
  text-align: left;
  margin-top: 2%;
  z-index: 2;
}

.Footer a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 16px;
  vertical-align: middle;
  font-family: 'Poppins';
}

.FooterList a:hover {
  text-decoration: underline;
  transition: .6s ease all;
}

.Footer button {
  background-color: transparent;
  border: transparent;
}


/* LOADER */
.loader {
  flex: 100;
  margin-top: 25%;
  justify-Content: center;
  align-Items: center;
}

/* SLIDESHOW */
@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";

.slick-slider {
  max-width: 50%;
  margin: 0 auto;
  padding-left: 10px;
}

.slick-slider img {
  max-height: 100%;
  max-width: 100%;
}

.slick-slider .slick-dots li button:before {
  color: #000000;
  /* Cambiar este valor al color deseado */
}

.slick-slider .slick-dots li.slick-active button:before {
  color: #000b4d;
  /* Cambiar este valor al color deseado */
}

.slick-prev:before,
.slick-next:before {
  color: #000b4d;
  font-size: 30px;
}


/* GENERAL */
.webpage-content {
  margin: auto;
  max-width: 80%;
}

#separador {
  margin-bottom: 5%;
  margin-top: 5%;
}

/* RESUMEN */
.resumen-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 2%;
  text-align: justify;
  width: 100%;
  margin-top: 10%;
  font-family: 'Poppins';
}

.resumen {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.resumen label {
  font-size: 40px;
}

.resumen p {
  font-size: 18px;
}

.imagen-resumen {
  width: 50%;
  height: auto;
  float: right;
  margin-left: 10%;
}

/* OFICINAS */
.oficinas-container {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: justify;
  width: 100%;
  margin-bottom: 10%;
}

.oficinas {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.oficinas-map {
  width: 50%;
  padding-left: 10%;
}

.oficinas label {
  font-family: 'Poppins';
  font-size: 40px;
}

.oficinas li {
  font-family: 'Poppins';
  font-size: 18px;
}

/* IMAGEN AL FONDO DE LA PAGINA */
.bottom-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/* MAP CONFIG */
.mapFormat {
  height: 300px;
  width: auto;
  z-index: 2;
}

.mapContainer {
  height: auto;
  width: auto;
  margin-top: 30px;
  margin: 50px;
  overflow: hidden;
}

/* PORTAFOLIO */
.proyectos {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: justify;
  width: 100%;
  font-family: 'Poppins';
  margin-bottom: 10%;
}

.hidden {
  opacity: 0;
  transition: opacity .6s ease-in-out;
}

.proyectos-container {
  margin-bottom: -8%;
}

.proyectos-container label {
  font-family: 'Poppins';
  font-size: 40px;
}

.imgs-proyectos {
  width: 50%;
  height: auto;
}

.texto-proyectos {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.txts-left {
  float: left;
}

.txts-right {
  float: right;
}

.imgs-left {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 10%;
}

.imgs-right {
  width: 50%;
  height: auto;
  float: right;
  margin-left: 10%;
}

.scroll-tip {
  text-align: center;
  animation: float 3s ease-in-out infinite;
  z-index: 1;
  position: fixed;
  bottom: 2%;
  width: 100%;
  left: 0%;
  right: 0%;
  transition: opacity .6s ease-in-out;
}

.unclickable {
  opacity: 0;
  transition: opacity .6s ease-in-out;
  pointer-events: none;
}

.scroll-tip:hover {
  text-shadow: 0px 2px 2px gray;
}

.scroll-tip p {
  font-family: 'Poppins';
  margin-bottom: 0px;
  user-select: none;
}

.arrow-down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes float {
  0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* QUIENES SOMOS */

.about {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: justify;
  width: 100%;
  font-family: 'Poppins';
  margin-bottom: 10%;
}

.about-container {
  margin-bottom: -8%;
}

.about-container label {
  font-family: 'Poppins';
  font-size: 40px;
}

.imgs-about {
  width: 50%;
  height: auto;
}

.texto-about {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

/* PAGINA CONTACTOS -=-=-=-=-=-=-=-=-=-=*/
.background-img {
  background-image: url("https://www.wallpapertip.com/wmimgs/70-700344_4k-image-sample.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 50px 50px black;
}

.contact-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-info {
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
  font-family: 'Poppins';
}

#number {
  margin-top: -1%;
  font-size: 14px;
}

.label-box-container {
  font-size: 40PX;
  font-family: 'Poppins';
  padding-right: 300px;
  color: white;
}

.contact-box .body-box-container {
  border: 2px solid #000b4d;
  display: block;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.input-box {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  display: block;
  box-sizing: border-box;
  width: 97%;
  border-radius: 7px;
}

.label-box {
  font-family: 'Poppins';
  padding: 10px;
  font-style: unset;
  font-size: 14px;
}

.button-box {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 30px;
  line-height: 50px;
  border-radius: 7px;
  background-color: #000b4d;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 17px;
}

.body-box-container textarea {
  resize: vertical;
  max-width: 97%;
  min-height: 100px;
  max-height: 150px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  display: block;
  box-sizing: border-box;
  width: 97%;
  border-radius: 7px;
}

.input-box:hover {
  background-color: rgb(231, 231, 231);
  transition: .1s ease all;
}

.button-box:hover {
  background-color: #000c4dde;
  transition: .3s ease all;
}












/* MEDIA QUERYS */
/* 
tamanios incluidos: 
-> mobile: 480px 
-> tabletPortait: 768px
-> tabletLandscape: 1024px 
*/

/* mobile-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (max-width: 480px) {

  /* CONTACT BOX CONFIG */
  .label-box-container {
    font-size: 40PX;
    font-family: 'Poppins';
    padding-right: 15px;
  }

  .input-box {
    width: 94%;
  }

  .body-box-container textarea {
    width: 94%;
  }

  .button-box {
    width: 81%;
  }

  /* NAVBAR CONFIG */
  .Navbar a {
    height: 70px;
    padding: 5px;
    float: none;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .Navbar {
    display: block;
    margin-bottom: 10%;
  }

  .NavbarList {
    display: flex;
  }

  .Navbar li {
    margin-top: 20px;
  }

  .formatLogo {
    margin-top: 10px;
  }

  .Navbar ul {
    margin: 0px 0px 0px;
    justify-content: center;
    padding: 0%;
  }

  /* FOOTER CONFIG */
  .Footer {
    text-align: center;
  }

  .FooterList .Logo {
    display: block;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }

  .Footer a {
    font-size: 12px;
    padding: 0px;
    display: flex;
  }

  .Footer ul {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .Footer li {
    margin-left: -30px;
    display: block;
    justify-content: center;
    padding: 5px;
    width: 100%;
  }

  .Footer img {
    justify-content: center;
    padding: 5px;
  }

  /* CONTENT CONFIG*/
  .oficinas-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .oficinas {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .oficinas-map {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0%;
  }

  .proyectos {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-proyectos {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .about {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-about {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .resumen-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .resumen {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .imagen-resumen {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
  }

  /* SLIDER CONFIG */
  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
    font-size: 60px;
  }

  .slick-slider {
    max-width: 80%;
    margin: 0 auto;
  }

}

/* TabletPortrait-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (max-width: 768px) {

  /* NAVBAR CONFIG */
  .Navbar a {
    font-size: 12px;
    height: 70px;
  }

  /* FOOTER CONFIG */
  .Footer a {
    font-size: 12px;
    margin-left: 50px;
  }

  /* CONTENT CONFIG */

  .oficinas-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .oficinas {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .oficinas-map {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0%;
  }

  .proyectos {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-proyectos {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .about {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-about {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .resumen-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .resumen {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .imagen-resumen {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
  }

  /* SLIDER CONFIG */
  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
    font-size: 20px;
  }

  .slick-slider {
    max-width: 84%;
    margin: 0 auto;
  }
}

/* TabletLandscape-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (max-width: 1024px) {

  /* NAVBAR CONFIG */
  .Navbar a {
    font-size: 12px;
    height: 70px;
  }

  /* FOOTER CONFIG */

  .Footer a {
    font-size: 12px;
  }

  /* CONTENT CONFIG */

  .oficinas-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .oficinas {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }


  .oficinas-map {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0%;
  }

  .proyectos {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-proyectos {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .about {
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 10%;
    font-size: 14px;
  }

  .imgs-about {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
    display: none;
  }

  .resumen-container {
    margin-bottom: 2%;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 15%;
    font-size: 14px;
  }

  .resumen {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  .imagen-resumen {
    height: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
  }

  /* SLIDER CONFIG */
  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
    font-size: 20px;
  }

  .slick-slider {
    max-width: 84%;
    margin: 0 auto;
  }

}